Connected Services/AfiliacionService/AfiliacionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFSeguro.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFSeguro.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TRAfiliacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cliente" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="FechaAfiliacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaCreacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaModificacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Seguro" type="xs:int" />
      <xs:element minOccurs="0" name="TMCliente" nillable="true" type="tns:TMCliente" />
      <xs:element minOccurs="0" name="TMSeguro" nillable="true" type="tns:TMSeguro" />
      <xs:element minOccurs="0" name="TRPagoes" nillable="true" type="tns:ArrayOfTRPago" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TRAfiliacion" nillable="true" type="tns:TRAfiliacion" />
  <xs:complexType name="TMCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentoIdentidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="FechaCreacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaModificacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Genero" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRAfiliacions" nillable="true" type="tns:ArrayOfTRAfiliacion" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDocumento" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TMCliente" nillable="true" type="tns:TMCliente" />
  <xs:complexType name="ArrayOfTRAfiliacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TRAfiliacion" nillable="true" type="tns:TRAfiliacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTRAfiliacion" nillable="true" type="tns:ArrayOfTRAfiliacion" />
  <xs:complexType name="TMSeguro">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cobertura" type="xs:int" />
      <xs:element minOccurs="0" name="Compania" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EdadMaxima" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="FactorImpuesto" type="xs:int" />
      <xs:element minOccurs="0" name="FechaCreacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaModificacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaVigencia" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImporteMensual" type="xs:int" />
      <xs:element minOccurs="0" name="Moneda" type="xs:int" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PorcentajeComision" type="xs:int" />
      <xs:element minOccurs="0" name="Prima" type="xs:int" />
      <xs:element minOccurs="0" name="TMCompaniaAseguradora" nillable="true" type="tns:TMCompaniaAseguradora" />
      <xs:element minOccurs="0" name="TRAfiliacions" nillable="true" type="tns:ArrayOfTRAfiliacion" />
      <xs:element minOccurs="0" name="Tipo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TMSeguro" nillable="true" type="tns:TMSeguro" />
  <xs:complexType name="TMCompaniaAseguradora">
    <xs:sequence>
      <xs:element minOccurs="0" name="Celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contacto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contrato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="FechaCreacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaModificacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRenovacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="RazonSocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ruc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TMSeguroes" nillable="true" type="tns:ArrayOfTMSeguro" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TMCompaniaAseguradora" nillable="true" type="tns:TMCompaniaAseguradora" />
  <xs:complexType name="ArrayOfTMSeguro">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TMSeguro" nillable="true" type="tns:TMSeguro" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTMSeguro" nillable="true" type="tns:ArrayOfTMSeguro" />
  <xs:complexType name="ArrayOfTRPago">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TRPago" nillable="true" type="tns:TRPago" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTRPago" nillable="true" type="tns:ArrayOfTRPago" />
  <xs:complexType name="TRPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="Afiliacion" type="xs:int" />
      <xs:element minOccurs="0" name="Anio" type="xs:int" />
      <xs:element minOccurs="0" name="Cliente" type="xs:int" />
      <xs:element minOccurs="0" name="Cuota" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaCreacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaModificacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Mes" type="xs:int" />
      <xs:element minOccurs="0" name="Monto" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Seguro" type="xs:int" />
      <xs:element minOccurs="0" name="TRAfiliacion" nillable="true" type="tns:TRAfiliacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TRPago" nillable="true" type="tns:TRPago" />
</xs:schema>