Connected Services/PagoService/PagoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="PagoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51171/Services/Pago/PagoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51171/Services/Pago/PagoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51171/Services/Pago/PagoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFSeguro.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPagoService_GenerarPagos_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerarPagos" />
  </wsdl:message>
  <wsdl:message name="IPagoService_GenerarPagos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerarPagosResponse" />
  </wsdl:message>
  <wsdl:message name="IPagoService_GetPagos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPagos" />
  </wsdl:message>
  <wsdl:message name="IPagoService_GetPagos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPagosResponse" />
  </wsdl:message>
  <wsdl:portType name="IPagoService">
    <wsdl:operation name="GenerarPagos">
      <wsdl:input wsaw:Action="http://tempuri.org/IPagoService/GenerarPagos" message="tns:IPagoService_GenerarPagos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPagoService/GenerarPagosResponse" message="tns:IPagoService_GenerarPagos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPagos">
      <wsdl:input wsaw:Action="http://tempuri.org/IPagoService/GetPagos" message="tns:IPagoService_GetPagos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPagoService/GetPagosResponse" message="tns:IPagoService_GetPagos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPagoService" type="tns:IPagoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerarPagos">
      <soap:operation soapAction="http://tempuri.org/IPagoService/GenerarPagos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPagos">
      <soap:operation soapAction="http://tempuri.org/IPagoService/GetPagos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PagoService">
    <wsdl:port name="BasicHttpBinding_IPagoService" binding="tns:BasicHttpBinding_IPagoService">
      <soap:address location="http://localhost:51171/Services/Pago/PagoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>